/* overview */

.overview {
	display: block;
	width: 1110px;
	height: 625px;
	border-radius: 32px 32px 0 0;
	overflow: hidden;
}

.overview__img {
	display: block;
	height: 100%;
	width: 100%;
	object-position: center;
	object-fit: cover;
}
.overview_footer{
	height: 188px;
	background-color: var(--color_white);
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.overview_footer_list{
	display: flex;
	column-gap: 108px;
}


/* overview### */

/* overview 2 */

.overview_2 {
	display: block;
	width: 1110px;
	height: 625px;
	border-radius: 32px 32px 0 0;

	background-image: url(../imgs/overview_img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: var(--color-accent);
}

/* overview 2### */
